@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Texturina:wght@900&family=Yeon+Sung&display=swap');
* {
    box-sizing: border-box;
}







body {
    background-color: white;
    margin: 0;
    display: flex;
    min-height: 100vh;
    font-family: cursive;
    align-items: center;
    justify-content: center;
}

.quiz-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px black;
    width: 600px;
    max-width: 100%;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    margin: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    background-color: #8e44ad;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.3rem;
}